[submodule "defi_dex/lib/forge-std"]
	path = defi_dex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "defi_dex/lib/openzeppelin-contracts"]
	path = defi_dex/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "counter-dapp/smart-contract/lib/forge-std"]
	path = counter-dapp/smart-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "counter-dapp/smart-contract/lib/openzeppelin-contracts"]
	path = counter-dapp/smart-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
